body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #ffffff;
}

.box:hover {
  
  -webkit-transform: translateY(0px) scale(1.1);
  transform: translateY(0px) scale(1.1);
  box-shadow: 0px 0px 4px 4px greenyellow;
  z-index: 1;
  color: #ffffff;
}